body {
    font-family: sans-serif;
    background: #ccc;
}

ul {
    padding: 0em;
    margin: 0px;
}

button {
    background: #ffd56f;
    border-radius: 3px;
}

#app {
    max-width: 52em;
    margin:0 auto;
    border: 1px black solid;
    overflow: auto;
}

#panes {
    background: #00a2b1;
    overflow: scroll;
}

#panes ul {
    white-space: nowrap;
}

#panes li{
    display: inline-block;
    font-size: 125%;
    text-transform: uppercase;
    padding: 1em;
}

#panes a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.pane {
    display: block;
    cursor: pointer;
}

.paneActive {
    display: block;
    cursor: pointer;
}

.paneActive a {
    color: #ffd56f !important;
    text-decoration: underline !important;
}

#paneContents {
    text-align: center;
    background: #e6e5e3;
    padding: 1em;
    margin: 0 auto;
}

.paneDescription {
    margin-bottom: 5px;
    text-align: left;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
}

.paneDescription ul {
    margin: 4px 4px 8px 20px;
}

.paneDescription button {
    margin: 4px 4px 4px 4px;
}

.bigButton {
    font-size: 150%;
    width: 100%;
    margin-bottom: 1em;
}

.textBox {
    display: block;
    margin-bottom: 1em;
    resize: none;
    width: 100%;
    height: 16em;
}

.makeAtom {
    margin: 2px 2px 5px 2px;
    text-align: left;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
    list-style-type: none;
}

.makeAtom * {
    margin: 2px;
    overflow-wrap: anywhere;
}

.atomForm label {
    width: 8ch;
    display: inline-block;
}

.atomForm input {
    width: 24ch;
}

.makeAttributes {
    display: inline-block;
    overflow: scroll;
}

.makeAttributes * {
    display: inline-block;
}

.makeAttribute {
    background: #ffd56f;
    align-items: center;
    border-top: 2px #dadada solid;
    border-left: 2px #dadada solid;
    border-right: 2px #919191 solid;
    border-bottom: 2px #919191 solid;
    border-radius: 3px;
}

.makeAttribute * {
    text-align: center;
    background: #ffd56f;
    border: none;
    margin: 0 auto;
    padding: 2px;
    font-size: 80%;
}

.makeAttributeName {
    padding-left: 4px;
}

.makeAttributeMagnitude {
    font-size: 70%;
    border-left: 1px #8e8e8e solid;
    width: 3ch;
}

.makeAttribute button {
    padding: 2px 5px 2px 5px;
    border-left: 1px #8e8e8e solid;
    border-radius: 1px;
}

#groups li {
    display: block;
    text-align: left;
}

.group {
    margin: 2px 2px 5px 2px;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
}

.group * {
    margin: 2px;
}

.groupButtons {
    display: block;
}

.groupConstraints li {
    padding: 2px;
    background: #e7e8e0;
    border: 1px #8e8e8e solid;
    border-radius: 3px;
}

.groupConstraints li select {
    max-width: 95%;
}

.numField {
    text-align: center;
    width: 3ch;
}

.groupAddButton {
    margin-bottom: 4px;
}

#globalConstraints {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    text-align: left;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
}

#globalConstraints * {
    margin: 2px;
}

#globalConstraints ul {
    list-style-type: none;
}

#globalConstraints li {
    padding: 2px;
    background: #e7e8e0;
    border: 1px #8e8e8e solid;
    border-radius: 3px;
}

#globalConstraints li select {
    max-width: 95%;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
        margin: 0; 
}

input[type="number"] {
        -moz-appearance: textfield;
}

#solverStatus {
    margin-top: 4px;
    margin-bottom: 4px;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
}

#solverStatus * {
    margin: 2px;
}

.solverRow {
    display: inline-block;
}

#solverProgress {
    width: 95%;
    margin-bottom: 5px;
}

#solved {
    margin-top: 4px;
    padding-bottom: 4px;
    background: #f6f6ef;
    border: 1px #8e8e8e solid;
    border-radius: 5px;
}

#solved ul {
    list-style-type: none;
}